$sc_height: 500px;
$body_height: calc(500px - 45px - 4px);

@mixin cleared {
  &::before,
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin btn_back {
  background-image: linear-gradient(#99D2FF, #43A6F4);
  // background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(142, 221, 156);
}
#screen {
  width: 300px;
  height: $sc_height;
  margin: 0 auto;
  border-radius: 7px;
  border: 2px solid black;
  background-image: linear-gradient(#007591, #FFF);

  .title_part {
    h2 {
      margin: 0;
      padding: 1em;
    }
  }

  .footer_part {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .3ex;

    button {
      background-image: linear-gradient(#42A1EC, #0070C9);
      border: 1px solid #0077CC;
      border-radius: 4px;
      color: #FFFFFF;
      cursor: pointer;
      direction: ltr;
      display: block;
      font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: -.022em;
      line-height: 1.47059;
      min-width: 30px;
      overflow: visible;
      padding: 4px 15px;
      text-align: center;
      vertical-align: baseline;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      
      &::disabled {
        cursor: default;
        opacity: .3;
      }
      
      &::hover {
        background-image: linear-gradient(#51A9EE, #147BCD);
        border-color: #1482D0;
        text-decoration: none;
      }
      
      &::active {
        background-image: linear-gradient(#3D94D9, #0067B9);
        border-color: #006DBC;
        outline: none;
      }
      
      &::focus {
        box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
        outline: none;
      }
    }
  }
}

#login {

  #login_title {
    text-align: center;
    color: white;
  }

  #login_form {
    form {
      width: 250px;
      margin: 0 auto;

      .form_part {
        padding: 1ex;

        label {
          color: white;
        }
        
        input[type="text"] {
          width: 100%;
        }
      }

      #div_pass {
        display: none;
      }

      #div_resp {
        height: 1.5em;
        color: rgb(189, 8, 8);
        text-align: center;
      }

      #div_button {
        text-align: center;
        button {
          @include btn_back;
          padding: .3ex .6ex;
          font-size: 1em;
        }
      }
    }
  }
}

#div_nav {
  
  height: 45px;
  
  #nav {
    @include cleared;
    background-image: linear-gradient(#FBD8D8, #FF7070);
    border-radius: 4px 4px 0 0;
    max-height: 45px;

    .nav_part {
      padding: .3ex;
      float: left;
    }
  
    #nav_title {
      p {
        margin: 1ex;
      }
    }
  
    #nav_logout {
      float: right;
  
      #logout_btn {
        @include btn_back;
        background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  
        padding: .4ex;
        img {
          width: 30px;
          float: left;
        }
      }
    }
  }

}

#board {
  position: relative;
  height: $body_height;

  #board_form {
    background-color: white;

    form {
      padding: 1ex 0;
      text-align: center;

      .board_sel {
        // select::-ms-expand { display: none; }
        display: inline-block;
        position: relative;
        
        select {

          @include btn_back;
          color: black;

          display: inline-block;
          width: 100%;
          cursor: pointer;
          padding: 0 1ex;
          height: 2em;
          outline: 0;
          font-size: 1em;
          position: relative;
          transition: all .25 ease;
        
          &::hover{ background: #B1E8CD; }
        }
        
        i {
          position: absolute;
          right: 20px;
          top: calc(50% - 13px);
          width: 16px;
          height: 16px;
          display: block;
          border-left: 4px solid #2AC176;
          border-bottom: 4px solid #2AC176;
          transform: rotate(-45deg);
          transition: all .25s ease;
        }
        &::hover i { margin-top: 5px; }
      }
    }
  }

  #board_title {
    text-align: center;
    background-color: white;
    h3 {
      margin: 0;
      padding-bottom: 1ex;
    }
  }
  
  #board_play {
    @include cleared;
    height: 220px;
    padding-bottom: 1ex;
    background-image: linear-gradient(#FFF, #39A4BD);
    .play_part {
      height: inherit;
      width: 50%;
      float:left;
      
      .play_label {
        margin: 0;
        text-align: center;
      }

      .play_part_int {
        height: calc(100% - 20px);

        .btn_choice {
          margin: 1.3em auto;
          display: block;
          transition: transform .7s ease;
          background-color: white;
          border-radius: 7px;
  
          &.marked {
            border-radius: 10px;
            transform: scale(1.5);
          }
  
          img {
            width: 35px;
            float: left;
          }
        }
        
        .bender_choice {
          height: 100%;
          display: none;
          width: 100%;
          text-align: center;
          opacity: 0;
          transition: opacity .7s ease;

  
          &.show {
            display: flex;
            opacity: 1
          }
  
          img {
            margin: auto;
            width: 80%;
            padding: 2ex 0;
            border: 1px solid black;
            background-color: white;
          }
        }
      }
      
    }

    #board_roboitems {
    
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
  
        .roboitem {
          padding: 1ex 1em;
          img {
            width: 25px;
            // vertical-align: middle;
          }
          span {
            display: inline-block;
            padding: 0 .4ex;
            width: calc(100% - 50px);
            text-align: center
          }
        }
      }
  
      #div_btn_roboitems {
        
        padding: 0 1em;
        text-align: right;
        
        button {
          @include btn_back;
          padding: .3ex .6ex;
        }
      }
    }
  }

  #board_back {
    padding: 1em;
    h4 {
      margin: 0 0 1ex;
      text-align: center;
    }
  }

  #board_score {
    @include btn_back;

    border-radius: 0;
    text-align:center;
    margin-bottom: 1ex;
    padding: 1ex 0;

    h4 {
      margin: 0;
      display: inline-block;
    }
  }

  #board_resp {
    text-align: center;
    padding: .5ex;
    h3 {
      margin: 0;
    }
  }
}

#scores {
  position: relative;
  height: $body_height;
  padding-bottom: 40px;
  
  #scores_title {
    text-align: center;
    padding: 1ex;
    h3 {
      margin: 0 0 1ex;
      color: white;
    }
  }

  #scores_list {

    overflow: auto;
    max-height: 350px;
    border: 1px solid transparent;

    .scores_list_name {
      padding: 1ex;
      margin: 1ex;
      background-image: linear-gradient(to bottom right, #F9F9F9, #FF9C9C);
    }
  }

  #scores_footer {
    @include cleared;

    button {
      @include btn_back;
      float: left;
    }

    #scores_btn_clean {
      float: right;
    }

    .cleaner {
      position: absolute;
      top: -100%;
      right: 1em;
      padding: .3ex .7ex;
      border: 2px solid red;
      background-color: #f9a290;
      border-radius: 7px;
      line-height: 1.3em;
      font-size: 1.3em;
      border: 2px solid;
      
      &#clean-ok {
        border-color: green;
        background-color: #b6ffad;
      }
      &#clean-warning {
        border-color: red;
        background-color: #f9a290;
      }
    }
  }
}